/* 
===========
z-indexes
===========
 */
/* 
 4  - show menu 
 3  - navbar, cards and footer
 -1 - hidden menu 
 */

/* template */
*,
::after,
::before {
  box-sizing: border-box;
}
/* fonts */
/* @import url("https://fonts.googleapis.com/css?family=Karla:400|Playfair+Display+SC:400"); */

html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  --primary-100: #d5f3f0;
  --primary-200: #abe7e2;
  --primary-300: #82dcd3;
  --primary-400: #58d0c5;
  --primary-500: #2ec4b6;
  --primary-600: #259d92;
  --primary-700: #1c766d;
  --primary-800: #124e49;
  --primary-900: #092724;
  --navbarPrimary: #2b2e4a;
  --navbarGradient: linear-gradient(to right, #40435c, #272943);
  --primaryGradient: linear-gradient(to right, #00ff8f 0%, #00a1ff 100%);

  /* gray */
  --gray-50: #f8fafc;
  --gray-100: #f1f5f9;
  --gray-200: #e2e8f0;
  --gray-300: #cbd5e1;
  --gray-400: #94a3b8;
  --gray-500: #64748b;
  --gray-600: #475569;
  --gray-700: #334155;
  --gray-800: #1e293b;
  --gray-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  /* fonts */
  --headingFont: "Playfair Display SC", serif;
  --bodyFont: "Karla", sans-serif;
  --smallText: 0.7em;
  /* rest of the vars */

  --cardsMaxHeight: 165px;
  --cardsMaxWidth: calc(var(--cardsMaxHeight) / 1.557);
  --backgroundColor: var(--gray-50);

  --textColor: var(--gray-900);
  --borderRadius: 0.25rem;
  --menuBorderRadius: 0.75rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --padding: 0.375rem 0.75rem;
  /* box shadow */
  --shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-3: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-4: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

body {
  background: var(--backgroundColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  /* Hide scrollbar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--smallText);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* buttons */
.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: var(--padding);
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}

.btn:hover {
  box-shadow: var(--shadow-3);
}

.page-loading {
  background: var(--navbarGradient);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: var(--white);
  text-align: center;
  text-transform: capitalize;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--gray-400);
  border-top-color: var(--primary-500);
  border-radius: 50%;
  animation: spinner 0.6s linear infinite;
  margin: 1rem auto;
  z-index: 4;
}
.loading-spinner-wrapper > h1 {
  font-size: 2rem;
  height: auto;
  margin-left: 1rem;
}
.rules {
  visibility: hidden;
}
.rules-show {
  visibility: visible;
}

.img {
  width: 100%;
  display: block;
}

/****************
===================
 find all pairs styling 
=================== 
 *****************/

/*
=================
navbar
==================
  */
.nav {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--navbarGradient);
  cursor: default;

  z-index: 3;
}
.nav-center {
  width: 90vw;
  max-width: var(--max-width);
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  height: 100%;
}
.nav-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-tags {
  display: inline-block;
  position: absolute;
  top: 0%;
  left: 35%;
  margin: 0;
  height: 100%;
}
.tag-btn {
  height: 100%;
  min-width: 6rem;
  padding: 1rem;
  border: 0;
  text-transform: capitalize;
  font-size: 1.25rem;
  cursor: pointer;
  letter-spacing: var(--letterSpacing);
}
.navbar-new-game-btn {
  display: none;
}
.checked-show {
  display: inline !important;
}
.btn {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: var(--borderRadius);
  border-color: transparent;
  color: white;
  background-image: var(--primaryGradient);
  cursor: pointer;
  transition: var(--transition);
}
.btn:hover {
  color: var(--black);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.nav-tags {
  display: none;
}
.nav-logo {
  width: 229px;
  height: 43px;
}

/*
=================
 end of navbar
===================
 */
/*
 =====================
 main content
 =====================
 */
/* hero */
.hero {
  min-height: calc(100vh - 5rem);
  width: 100%;
  display: flex;
  flex-direction: column;
}
.hero-slider {
  width: 100%;
  min-height: calc(100vh - 5rem);
  position: absolute;
  z-index: 1;
  overflow: hidden;
}
.slider-container {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-height: calc(100vh - 5rem);
  overflow: hidden;
  /* left: -1px; */
}
.slide {
  position: absolute;
  transition: all 1s ease-out;
  min-height: calc(100vh - 5rem);
  width: 100%;
  /* transform: translateX(-100%); */
}
.slide-img {
  width: calc(100% + 1px);
  min-height: calc(100vh - 5rem + 2px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-container {
  width: 100%;
  height: 100%;
}
/* end of hero */
.deck-container {
  max-width: 1120px;
  display: grid;
  width: 90vw;
  margin: 0 auto;
  user-select: none;
  gap: 1rem;
  height: calc(100vh - 6rem - 1rem - 5rem);
  padding-bottom: 1rem;
}
.grid-4columns {
  grid-template-columns: repeat(4, auto);
}
.grid-5columns {
  grid-template-columns: repeat(5, auto);
}
.grid-6columns {
  grid-template-columns: repeat(6, auto);
}
.grid-9columns {
  grid-template-columns: repeat(9, auto);
}

/*
==============
single card
==============
 */
.single-card-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-card-container {
  z-index: 3;
  position: absolute;
  transition: all 0.5s ease-out;
  visibility: hidden;
}
.single-card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.3s ease;
}
.single-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  cursor: pointer;
}
.single-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.single-card-flip {
  transform: rotateY(180deg);
}
.single-card-vanishing {
  animation: card-vanishing 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards, none;
}
@keyframes card-vanishing {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.card-img {
  border-radius: 0.5rem;
  height: 100%;
  margin: 0;
}

/*
================================
 linear gradient for text color
================================
 */
.tag-btn-gradient {
  background: transparent;
  background-image: linear-gradient(to right, #00ff8f 0%, #00a1ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: var(--white);
}
@keyframes hoverEffect {
  0% {
    color: rgba(255, 255, 255, 1);
  }
  100% {
    color: rgba(255, 255, 255, 0);
  }
}
.gradient-hover-effect {
  animation: hoverEffect 0.3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards, none;
}
/* 
===============================
end of linear gradient for text
===============================
 */
/* 
=============
footer
=============
 */
.footer {
  display: flex;
  height: 3rem;
  background: var(--navbarPrimary);
  color: var(--white);
  letter-spacing: var(--letterSpacing);
  justify-content: center;
  align-items: center;
  margin: 0;
  z-index: 3;
  overflow: hidden;
  cursor: default;
}
/* 
=============
end of footer
=============
 */

/* 
=============
sidebar
=============
 */
.sidebar-wrapper {
  position: fixed;
  display: grid;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  place-items: center;
  visibility: hidden;
  z-index: -1;
  transform: scale(0);
  transition: all 0.5s;
}
.sidebar-wrapper.show {
  visibility: visible;
  z-index: 4;
  transform: scale(1);
}
.sidebar {
  position: relative;
  height: 95vh;
  width: 90vw;
  background: var(--navbarGradient);
  border-radius: var(--menuBorderRadius);
  display: flex;
  flex-direction: column;
  padding: 4rem 4rem;
  place-items: center;
}
.close-btn {
  position: absolute;
  top: 1%;
  right: 2%;
  font-size: 1rem;
}

.sidebar-tags {
  height: 100%;
  width: 100%;
  max-width: 250px;
  display: flex;
  flex-direction: column;

  color: rgba(255, 255, 255, 1);
}
.sidebar-tags-ul {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  cursor: default;
}
.sidebar-tags-ul::-webkit-scrollbar {
  display: none;
}
.sidebar-tags > ul > li {
  text-transform: capitalize;
  /* text-indent: 4rem; */
  /* border-bottom: 1px solid var(--white); */
  padding-bottom: 1rem;
  text-align: center;
}
.sidebar-tags > ul > li > h4 {
  margin-bottom: 0.75rem;
  cursor: default;
}
.sidebar-tags > ul > li > ul {
  padding-left: 10%;
}
.sidebar-tags > ul > li > ul > li {
  /* text-indent: 3rem; */
  text-align: start;
}
.sidebar > .new-game-btn {
  width: 90%;
  min-width: fit-content;
  max-width: 250px;
}

@media screen and (min-width: 925px) {
  .toggle-btn {
    display: none;
  }

  .nav-tags {
    display: flex;
  }
  .navbar-new-game-btn {
    display: inline-block !important;
  }
}
/*
=============
end of sidebar
=============
 */
/* overlay */
#overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
/* chceckbox btn */
.checkbox-btn {
  background: var(--primaryGradient);
  cursor: pointer;
  transition: var(--transition);
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.25rem;

  border: 0;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.checkbox-btn-middle-part {
  background: var(--white);
  border-radius: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem;
}
.checked {
  padding: 0.35rem;
  background: var(--primaryGradient);
}

/* end of checkbox btn */

/* settings submenu */
.submenu {
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: var(--menuBorderRadius);
  padding: 2rem;
  background: var(--navbarGradient);
  z-index: 3;
  color: var(--white);
  display: none;
  cursor: default;
}
.submenu::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background: var(--primaryGradient);
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
}
.submenu .apply-changes-btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.show-submenu {
  display: block;
}
.single-setting {
  text-transform: capitalize;
  white-space: nowrap;
}
/* end of settings submenu */
/* timer */
.timer-container {
  width: 100%;
  height: 4rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  cursor: default;
}
.timer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.timer-format {
  display: flex;
  width: min-content;
  height: min-content;
  background: var(--navbarGradient);
  color: var(--white);
  text-wrap: nowrap;
  white-space: nowrap;
  padding: 0.4rem 0.5rem;
  border-radius: var(--menuBorderRadius);
}
.timer-unit-format {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timer-unit-format > .gradient-hover-effect {
  text-transform: lowercase;
  margin-top: -0.31rem;
  font-size: 0.55rem;
}

.timer-format h5 {
  /* line-height: 4rem; */
  font-size: 0.6rem;
  margin: 0;
  margin-right: 0.15rem;
}
@media screen and (min-width: 370px) {
  .timer-format h5 {
    font-size: 0.75rem;
  }
  .timer-unit-format > .gradient-hover-effect {
    font-size: 0.65rem;
  }
}
@media screen and (min-width: 500px) {
  .timer-format h5 {
    font-size: 1rem;
    margin-right: 0.2rem;
  }
  .timer-unit-format > .gradient-hover-effect {
    font-size: 0.85rem;
  }
}
@media screen and (min-width: 700px) {
  .timer-format h5 {
    font-size: 1.25rem;
  }
  .timer-format {
    margin-top: 0.3rem;
  }
  .timer-unit-format > .gradient-hover-effect {
    font-size: 1rem;
  }
}
.pulse {
  color: red;
  animation: pulseAnimate 1s ease-in-out infinite;
}
@keyframes pulseAnimate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

/* new game menu */
.game-menu > .sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--white);
  max-width: 700px;
  width: 90vw;
  height: fit-content;
  text-wrap: nowrap;
  padding-bottom: 1.25rem;
}
.game-menu > .sidebar > .text-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-menu > .sidebar > .btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.sidebar > .btn-container > .btn {
  padding: 0.75rem 2rem;
}
.game-menu > .sidebar > .close-btn {
  margin-right: 0.75rem;
  margin-top: 0.75rem;
}
.game-menu .text-content {
  display: flex;
  flex-direction: column;
}
